# fix for button override for asus x442u
# toggle delete as insert when usb keyboard add/remove

ENV{XAUTHORITY}="/home/rho/.Xauthority", ENV{DISPLAY}=":0", ATTR{product}=="USB Keyboard", ACTION=="add",    RUN+="/usr/bin/xmodmap -e 'keycode 119 = Delete'"
ENV{XAUTHORITY}="/home/rho/.Xauthority", ENV{DISPLAY}=":0", ATTR{product}=="USB Keyboard", ACTION=="remove", RUN+="/usr/bin/xmodmap -e 'keycode 119 = Insert'"
